<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<head>
    <title>base</title>
  </head>
<html>
<h1>Update_entry</h1>
        <body ng-app="toDo" ng-controller="toDoController" >
            <form ng-submit="todoAdd()"  name="frm"  id="demoApp">
                <input type="text" ng-model="todoInput_NAME" placeholder="Add a new Name"   required>
                <input type="text" name="Plate_In" ng-model="todoInput_PLATE" ng-pattern="regex" placeholder="Add a new Plate ID" required ng-minlength="6" ng-maxlength="6">
                <div class="field-message" ng-messages="frm.Plate_In.$error" ng-if='frm.Plate_In.$dirty' ng-cloak>
                    <div ng-message="required">Plate id is required</div>
                    <div ng-message="minlength">Plate id must have minimum 6 characters</div>
                    <div ng-message="maxlength">Plate id must have maximum 6 characters</div>
                  </div>
                <button type="submit" ng-click="saveData()" ng-disabled="frm.$invalid">Submit</button>
            </form>
            <br>
            <div ng-repeat="todo in todoList">
                <input type="checkbox" ng-model="todo.Remove" ><span  ng-bind="todo.Name" > </span >&emsp;
                <span  ng-bind="todo.Plate" ></span>
            </div>
    
            <p>
                <button class="Remove"  ng-click="remove()">Remove</button>
            </p>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            <script src="{% static 'main.js' %}"></script>
    </body>

</html>
